# 01) Execute os passos a seguir:<br>
a) Crie uma lista de filmes contendo uma única tupla. A tupla deve conter o título do filme, o nome do diretor, o ano de lançamento do filme e o orçamento do filme.<br>
b) Use a função input para coletar informações sobre outros filmes. Você precisa de um título, nome do diretor, ano de lançamento e orçamento. Crie uma nova tupla a partir dos valores que você reuniu usando a entrada. Certifique-se de que eles estão na mesma ordem que a tupla que você escreveu na lista de filmes.<br>
c) Imprima o nome do filme e o ano de lançamento, acessando sua nova tupla de filme.<br>
d) Adicione a nova tupla de filme à coleção (lista) de filmes usando append.<br>
e) Imprima ambos os filmes da coleção (lista) de filmes.<br>
f) Remova o primeiro filme da coleção (lista). Use o método que desejar<br>

In [2]:
# a) Criar uma lista de filmes contendo uma única tupla (título, diretor, ano de lançamento, orçamento)
filmes = [("Inception", "Christopher Nolan", 2010, 160000000)]

# b) Usar input para coletar informações de outro filme
titulo = input("Digite o título do filme: ")
diretor = input("Digite o nome do diretor: ")
ano = int(input("Digite o ano de lançamento: "))
orcamento = float(input("Digite o orçamento do filme: "))

# Criar uma nova tupla a partir dos valores coletados
novo_filme = (titulo, diretor, ano, orcamento)

# c) Imprimir o nome do filme e o ano de lançamento
print(f"Filme: {novo_filme[0]}, Ano de lançamento: {novo_filme[2]}")

# d) Adicionar a nova tupla de filme à coleção de filmes
filmes.append(novo_filme)

# e) Imprimir ambos os filmes da coleção
print("Filmes na coleção:")
for filme in filmes:
    print(filme)

# f) Remover o primeiro filme da coleção
filmes.pop(0)

# Exibir a coleção de filmes atualizada após a remoção
print("Coleção de filmes após remover o primeiro:")
for filme in filmes:
    print(filme)

Digite o título do filme: Matrix
Digite o nome do diretor: Thiago Freitas
Digite o ano de lançamento: 1990
Digite o orçamento do filme: 3000
Filme: Matrix, Ano de lançamento: 1990
Filmes na coleção:
('Inception', 'Christopher Nolan', 2010, 160000000)
('Matrix', 'Thiago Freitas', 1990, 3000.0)
Coleção de filmes após remover o primeiro:
('Matrix', 'Thiago Freitas', 1990, 3000.0)

02) Leia uma lista de números, escreva um programa Python para criar uma lista de tuplas tendo o primeiro elemento como o número e o segundo elemento como o cubo do número.<br>
Entrada:
lista = [1, 2, 3]<br>
Resultado: [(1, 1), (2, 8), (3, 27)]<br>

In [ ]:
# Lista de números de exemplo
numeros = [1, 2, 3]

# Criando a lista de tuplas, onde o segundo elemento de cada tupla é o cubo do primeiro
resultado = [(num, num**3) for num in numeros]

# Imprimir o resultado
print(resultado)

03) Leia duas listas. Escreva um programa para encontrar elementos comuns nas duas listas usando conjuntos (set).<br>
Entrada:<br>
lst1 = [1, 2, 3, 4, 5, 6, 7]<br>
lst2 = [6, 7, 8, 9, 10, 11]<br>
Resultado: [6, 7]<br>
Dica: set(list)<br>

In [ ]:
# Solicitar ao usuário para digitar duas listas
lst1 = input("Digite os elementos da primeira lista separados por espaço: ").split()
lst2 = input("Digite os elementos da segunda lista separados por espaço: ").split()

# Convertendo os elementos para inteiros
lst1 = [int(i) for i in lst1]
lst2 = [int(i) for i in lst2]

# Encontrando os elementos comuns utilizando conjuntos (set)
elementos_comuns = list(set(lst1) & set(lst2))

# Exibir os elementos comuns
print(f"Elementos comuns: {elementos_comuns}")

04) Leia uma frase ou palavra e conte o número de vogais presentes usando conjuntos (set).<br>
Entrada: “Universidade Paulista”<br>
Resultado: Nro vogais: 10<br>

In [ ]:
# Conjunto de vogais
vogais = set("aeiouAEIOU")

# Solicitar ao usuário para digitar uma frase
frase = input("Digite uma frase: ")

# Contando as vogais presentes na frase
nro_vogais = sum(1 for char in frase if char in vogais)

# Exibir o número de vogais
print(f"Nro de vogais: {nro_vogais}")

05) Leia duas listas que são cópias uma da outra, exceto por um elemento, ou seja, um elemento de uma das lista não está presente na outra lista. Mostre o elemento ausente utilizando conjuntos (set).<br>
Entrada:<br>
lst1 = [1, 2, 3, 4, 5, 6, 7]<br>
lst2 = [1, 2, 3, 4, 5, 6]<br>
Resultado: [7]<br>
Dica: set(list)<br>

In [ ]:
# Listas de exemplo
lst1 = [1, 2, 3, 4, 5, 6, 7]
lst2 = [1, 2, 3, 4, 5, 6]

# Encontrando o elemento ausente usando a diferença entre os conjuntos
elemento_ausente = list(set(lst1) - set(lst2)) + list(set(lst2) - set(lst1))

# Exibir o elemento ausente
print(f"Elemento ausente: {elemento_ausente}")